
 @font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('fonts/HelveticaNeueUltraLight.otf') format('opentype');
 }

html, body {
  margin: 0;
  padding: 0;
  z-index: -1;
  position: relative;
  height: 100%;

}

canvas {
  display: block;
  z-index: -1;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;

}

#header{
  z-index: 2;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;

}

.image-button {
  /* Add your image as a background */
  background-image: url('img/busymindsWhite.png');
  user-select: none;
  background-size: cover; /* Adjust as needed */
  /* Set the button size based on the image size */
  width: 90px; /* Adjust as needed */
  height: 47.5px; /* Adjust as needed */
  border: none;
  background-color: rgba(152, 251, 152, 0);
  cursor: pointer;
  margin-left: 5%;
 }

 #link-container{
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-right: 5%;
  align-items: center;

 }

.header-link-style{
  padding: 2%;
  color: white;
  font-family: 'HelveticaNeueUltraLight';
  font-size: 13pt;
  text-decoration: none;
  
}

#main-container{
  display: flex;
  flex-direction: column;
}

.title{
  width: 17.4rem;
  padding: 9%;
  padding-top: 16%;
  padding-bottom: 3%;

}
#small-title{
  width: 13.4rem;
  padding: 5%;
  padding-top: 16%;
  padding-bottom: 3%;
}

p{
  font-family: 'HelveticaNeueUltraLight';
  font-size: 1.21rem;
}

#para-container{
  padding: 1%;
 margin-inline: 9%;
 width: 76%;
}

.active-nav-item {
  color: #30ce8d !important
 }