
#arrow-container{
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.arrow{
    width: 2.5vw;
}
#back-arrow{
    rotate: 90deg;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 5px;
}

#para-link{
    text-decoration: underline;
}
#content-area {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    margin-top: 4%;
}

#next-project{
    height: 20vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 4%;
}
h1{line-height: 80%;
padding-bottom: 0.5%;}
a{user-select: none;}
#image-seperator{margin-left:1%;}

.paragraph{
    width: 400px;
    padding: 1.5%;
    padding-inline: 1%;
}
#project-description{
    display: flex;
    padding-left: 3.5%;
}
#project-title{
    width: 100%;
    height: 80px;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#social-vid {
    width: 50%;
    padding: 1%;
    height: 650px;
}
#logo-vid{
    width: 37%;
}
#poster-vid{
    width: 63%;
}
#poster-vid2 {
    padding: 1%;
    width: 65%;
    height: 650px;
}
.containerstyle1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
  
}
.containerstyle2{
    width: 98%;
    margin-left: 1%;
    margin-bottom: 1%;
}
.containerstyle3{
    display: flex;
    justify-content: center;
}
#slideshow-container{
    width: 98%;
    margin-left: 1%;
    margin-bottom: 1%;


}
video{
    padding: 1%;
}
.iframe-full{
    width: 100%;
    height: 850px;
}
#slideshow-container{
    position: relative;
}
#tag-text {
    margin-bottom: 1%;
    margin-left: 1%;
}
.retrippinSLDSHW {
    width: 70%;
    object-fit: cover;
}
     
.images{
    width: 32%;
    margin-inline: 0.5%;
}
#next-half:hover,#next-half2:hover {
    cursor: url('img/cursor/cursorarrow-02.png'), e-resize;
  }
  #previous-half:hover,#previous-half2:hover {
    cursor: url('img/cursor/cursorarrow-01.png'), w-resize;
  }

  @media screen and  (max-width: 900px) {
    .containerstyle2,.containerstyle1,.containerstyle3{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .arrow{
        width: 4.5vw;
        margin-top: 10px;
    }
    #project-description,.paragraph{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    #project-title{
        width: 70%;
    }
    #next-project{
        width: 70%;
    }
    h1{
        font-size: 60px;
    }
    #next-project-text{
        font-size: 50px;
    }
    #social-vid,#poster-vid2,#poster-vid, #logo-vid, #next-project{
        width: 99%;
        margin: 1%;
        padding: 1%;
        /* background-color: aqua; */
    }
    #slideshow-container,#slideshow-container2,.images{
        width: 99%;
        padding: 0.5%;
    }
    .retrippinSLDSHW {
        width: 99%;
    }
    
   
  }
  @media screen and  (max-width: 700px) {
    h1{
        font-size: 40px;
    }
    #project-title{
        width: 90%;
    }
  }