*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #111111;
    width: 100vw;
    height: 98vh;
    transition: background-color 2s;
}

   body.transition {
    background-color: blue;
   }

#header{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
} 
#header-title{
    margin-left: 3%;
   
}

#links{
    width: 300px;
    display: flex;
    padding: 1%;
    padding-top: 1.5%;
    margin-right: 4%;
    justify-content: space-between;
    align-items: center;
    
}
.link-text,a{
    color: white;
    text-decoration:none;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    user-select: none;
    
}
h1{
    font-family: degular-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 70px;
}
/* ===============================info page============================= */


@media screen and (max-width: 1600px) {
    h2,#top-textI,#bot-textI{
        color: white;
        font-size: 12vw;
         left: 645px;
         top: -18%;
    }
    #bot-textI{
        top: 20%;
        left: 750px;
    }
    #top-contentI{
        height: 330px;
    }
    .para-structureI{
        width: 420px;
    }
}
@media screen and (max-height: 900px) {
    #top-contentI{height: 320px;}
    #bot-textI{
        top: 33%;
    }
}
@media screen and (max-width: 1450px) {
    h2,#top-text,#bot-text{
        color: white;
        font-size: 10vw;
         left: 720px;
         top: -13%;
    }
    #bot-text{
        top: 15%;
        left: 800px;
    }
}
/* ===================================================================== */
p,a{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 17px;
}

#footer-line{
    height: 1px;
    width: 100vw;
    background-color: white;
}
#footer{
    height: 3vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2%;
}
.details-text{
    margin-inline: 3%;
    display: flex;
}
#seperator{
    padding-inline: 4%;
    user-select: none;
}
#circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    transition: top 0.5s, left 0.5s;
    display:none;
}

.details-text{
    user-select: none;
}
/* can use this to hide elements for javascript */
.hidden {
    display: none;
   }
/* ====================play======================== */
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
   }
#arrow{
    width: 50px;
    animation: moveUpDown 1s ease-in-out infinite;
    display: none;
}
.video-p5js{
    object-fit: cover;
    width: 50%;
    height: 50%;
}
/* ===================================================================== */
@media screen and (max-width: 590px) {
    
}

